@media screen and (min-width:577px) {
    .img-gambar{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .gambar{
        width:25%;
    }
    .container-empty{
        height: 200px;
    }
}
@media only screen and (min-width:578px) and (max-width:767px){
    .img-gambar{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .gambar{
        width:50%;
    }
    .container-empty{
        height: 800px;
    }
}
@media screen and (max-width:768px){
    .img-gambar{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .gambar{
        width:50%;
    }
    .container-empty{
        height: 600px;
    }
}