@media screen and (min-width:768px) {
    .img-gambar{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .gambar{
        width:25%;
    }
}
@media screen and (max-width:768px){
    .gambar{
        width:50%;
    }
}