@media screen and (max-width:768px){
    .navbar-nav.d-flex.align-items-center.justify-content-start{
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        /* background-color: aqua;sss */
    }
    .nav-item {
        border: 1px solid white;
        margin: 4px 0px;
        margin-left: 0px;
    }
}