@media screen and (max-width:768px){
    .navbar-nav.justify-content-center.align-items-center{
        display: block;
        /* background-color: aqua;sss */
    }
    .nav-item {
        border: 1px solid white;
        margin: 4px 0px;
    }
}